body {
	background-color: rgb(25,25,25);
	font-family: verdana;
	color:white;
	font-size: 100%;
}

div.header {
	margin: auto;
	background-color: rgb(44, 123, 169);
	/* max-width: 300px; */
	text-align: center;
	padding: 40px 0;
	font-size:4.0em;
}

div.function {
	/* Position */
	/*background-color: darkgry;*/
	display: inline-block;
	/* Shape*/
	width: 50%;
	/*font*/
	text-align: center;
	font-size:4.0em;
}
.functionOff {background-color: darkgrey;}
.functionOn {background-color: green;}

div.right {
	float: right;
}

div.info {
	/* Position */
	background-color: darkgrey;
	display: inline-block;
	/* Shape*/
	width: 50%;
	/*font*/
	text-align: center;
	font-size:4.0em;
}

div.footer {
	margin: auto;
	background-color: rgb(121, 91, 60);
	/* max-width: 300px; */
	text-align: center;
	padding: 40px 0;
	font-size:4.0em;
}
