html{
	box-sizing: border-box;
}

body {
	background-color: rgba(25,25,25,1.00);
	font-family: League Gothic;
	color:white;
	font-size: 100%;
}


.intro {
	margin: auto;
	background-color: rgb(44, 123, 169);
	/* max-width: 300px; */
	text-align: center;
	padding: 40px 0;
	font-size:4.0em;
}

.function {
	/* Position */
	background-color: darkgrey;
	display: inline-block;
	/* Shape*/
	width: 100%;
	/*font*/
	text-align: center;
	font-size:4.0em;
	
}

.pool-mode{
	height: 200px;
}

.spa-mode{
	height: 100px;
	background-color: #295577;
}

right {
	float: right;
}

.info {
	/* Position */
	background-color: #295577;
	display: inline-block;
	position: static;
	/* Shape*/
	width: 100%;
	/*font*/
	text-align: center;
	font-size:4.0em;
	text-transform: uppercase;
}

.info .left{
	width: 45%;
	float: left;
	text-align: left;
	padding-left: 5%
}

.info .right {
	width: 45%;
	float: right;
	text-align: left;
	padding-left: 5%;
}

.footer {
	margin: auto;
	background-color: #9E8753;
	/* max-width: 300px; */
	text-align: center;
	padding: 40px 0;
	font-size:4.0em;
}
